<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
     <title>Task Counter App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   	<link href="/static/style.css" rel="stylesheet" type="text/css">
    <!-- Add your CSS here -->
</head>
<body>
    <header>
        <!-- Add common header elements here -->
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add common footer elements here -->
    </footer>
</body>
</html>
